*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#wrapper{
    width: 1500px;
    background-color: rgb(59, 59, 59);
    margin: 0 auto;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: lightslategray;
}
#header img{
    width: 150px;
    height: 150px;
    float: left;
}
#form{
    padding-left: 20px;
    padding-top: 20px;
}
#form label{
    color: white;
}
#form input{
    margin-left: 10px;
    border: none;
    height: 20px;
}
#form p{
    color: white;
    padding-top: 2px;
}
#menu{
    margin-top: 60px;
    margin-left: 200px;
    list-style: none;
}
#menu li{
    float: left;
    padding: 8px 30px;
    border: solid white 1px;
}
#menu li a{
    color: white;
    text-decoration: none;
}
#content{
    width: 1440px;
    overflow: hidden;
    padding-bottom: 450px;
}
#content h2{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
#content img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
#footer p{
    background-color: black;
    color: white;
    width: 1500px;
    padding-top: 10px;
    padding-bottom: 10px;
}