*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#wrapper{
    width: 1500px;
    background-color: rgb(59, 59, 59);
    margin: 0 auto;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: lightslategray;
}
#header img{
    width: 150px;
    height: 150px;
    float: left;
}
#menu{
    margin-top: 60px;
    margin-left: 200px;
    list-style: none;
}
#menu li{
    float: left;
    padding: 8px 30px;
    border: solid white 1px;
}
#menu li a{
    color: white;
    text-decoration: none;
}
#content{
    width: 1440px;
}
#player label{
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
#content h2{
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(167, 167, 255);
}
#player h3{
    color: lightgray;
    padding-left: 20px;
    padding-bottom: 10px;
}
#player input{
    margin-bottom: 10px;
    border-radius: 5px;
}
.pokemon label{
    color: white;
    padding-left: 20px;
}
.pokemon input{
    margin-left: 20px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.abi label{
    color: white;
    padding-left: 20px;
}
.abi input{
    margin-left: 20px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.abi{
    padding-bottom: 50px;
}
#submit input[type=submit]{
    border-radius: 5px;
    width: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
#footer p{
    background-color: black;
    color: white;
    width: 1500px;
    padding-top: 10px;
    padding-bottom: 10px;
}